//again, since we don"t have lua bindings to get a player"s missions, this array is there to let S.A.I.L. know of the available missions via the player"s quest.
//["aiMission", "related quest"],
{
  "missionsTable": [
  	["missionhuman1", "human_mission1"],
  	["missionfloran1", "floran_mission2"],
  	["missionhylotl1", "hylotl_mission2"],
  	["missionavian1", "avian_mission2"],
  	["missionapex1", "apex_mission2"],
  	["missionglitch1", "glitch_mission2"],
  	["missionpenguin1", "penguin1"],
  	["missionpenguin2", "penguin2"],

    //FU & Extra Dungeons stuff 
    ["scienceoutpostfu", "fu_scienceoutpost"],
    ["shoggothmission", "shoggoth_wagner"],
    ["missionpenguin1", "scienceoutpost_boss1"],
    ["skytemple", "skytemple.gearup"],
    ["ancienttemple", "ancienttemple.gearup"],
    ["alienjungle", "alienjungle.gearup"],
    ["verdantruins", "verdantruins.gearup"],
    ["towerinvincible", "towerinvincible.gearup"],
    ["sunsetriders", "sunsetriders.gearup"],
    ["snowcrash", "snowcrash.gearup"],
    ["penguinhighway", "penguinhighway.gearup"],
    ["pavillion", "pavillion.gearup"],
    ["magickaforest", "magickaforest.gearup"],
    ["lethialabs", "lethialabs.gearup"],
    ["grandarena", "grandarena.gearup"],
    ["infiltration", "infiltration.gearup"],
    ["evernight", "evernight.gearup"],
    ["forestoffae", "forestoffae.gearup"],
    ["avianhydro", "avianhydro.gearup"],

    //Gyrusens+ stuff
    ["jyinkumission", "jyinquest6"],
    ["cathedral", "gyrusenquest3"],
    ["cathedral", "gyrusenquest3a"],

    //greckan
    ["greckancapital", "greckancity1"] 
  ]
}