//again, since we don"t have lua bindings to get a player"s missions, this array is there to let S.A.I.L. know of the available missions via the player"s quest.
//["aiMission", "related quest"],
{
  "missionsTable": [
  	["missionhuman1", "human_mission1"],
  	["missionfloran1", "floran_mission2"],
  	["missionhylotl1", "hylotl_mission2"],
  	["missionavian1", "avian_mission2"],
  	["missionapex1", "apex_mission2"],
  	["missionglitch1", "glitch_mission2"],
  	["missionpenguin1", "penguin1"],
  	["missionpenguin2", "penguin2"],

    //FU stuff
    ["alienjungle", "alienjungle"],
    ["ancienttemple", "ancienttemple"],
    ["avianhydro", "avianhydro"],
    ["evernight", "evernight"],
    ["forestoffae", "forestoffae"],
    ["scienceoutpostfu", "fu_scienceoutpost"],
    ["grandarena", "grandarena"],
    ["infiltration", "infiltration"],
    ["lethialabs", "lethialabs"],
    ["magickaforest", "magickaforest"],
    ["pavillon", "pavillon"],
    ["penguinhighway", "penguinhighway"],
    ["snowcrash", "snowcrash"],
    ["sunsetriders", "sunsetriders"],
    ["towerinvincible", "towerinvincible"],
    ["verdantruins", "verdantruins"],
    ["shoggothmission", "shoggothmission"],
    ["missionpenguin1", "scienceoutpost_boss1"],

    //Gyrusens+ stuff
    ["jyinkumission", "jyinquest6"],
    ["cathedral", "gyrusenquest3"],
    ["cathedral", "gyrusenquest3a"],

    //greckan
    ["greckancapital", "greckancity1"] 
  ]
}