{
  "gui": {
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "pressedOffset": [0, 0],
      "position": [231, 181],
      "callback": "close"
    },
    "windowtitle": {
      "type": "title",
      "title": "S.A.I.L.",
      "subtitle": "Ship-based Artificial Intelligence Lattice",
      "position": [0, 254],
      "icon": {
        "type": "image",
        "file": "/interface/ai/AIicon.png",
        "position": [0, -20],
        "zlevel": -1
      }
    },
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/ai/header.png",
      "fileBody": "/interface/ai/body.png",
      "fileFooter": "/interface/ai/footer.png"
    },

    "config": {
      "type": "button",
      "base": "/interface/ai/config.png",
      "hover": "/interface/ai/confighover.png",
      "pressed": "/interface/ai/configdown.png",
      "pressedOffset": [0, 0],
      "position": [218, 181],
      "callback": "showConfig"
    },

    "backButton": {
      "zlevel": 1,
      "type": "button",
      "base": "/interface/ai/leftmenuup.png",
      "hover": "/interface/ai/leftmenuhover.png",
      "pressed": "/interface/ai/leftmenudown.png",
      "position": [10, 55],
      "pressedOffset": [0, 0],
      "caption": "BACK",
      "visible": false,

      "callback": "goBack"
    },
    "showMissions": {
      "zlevel": 1,
      "type": "button",
      "base": "/interface/ai/leftmenuup.png",
      "hover": "/interface/ai/leftmenuhover.png",
      "pressed": "/interface/ai/leftmenudown.png",
      "baseImageChecked": "/interface/ai/leftmenudown.png",
      "position": [10, 55],
      "pressedOffset": [0, 0],
      "caption": "MISSIONS",

      "callback": "showMissions"
    },
    "showCrew": {
      "zlevel": 1,
      "type": "button",
      "base": "/interface/ai/leftmenuup.png",
      "hover": "/interface/ai/leftmenuhover.png",
      "pressed": "/interface/ai/leftmenudown.png",
      "position": [10, 40],
      "pressedOffset": [0, 0],
      "caption": "CREW",

      "callback": "showCrew"
    },

    "aiFaceCanvas": {
      "zlevel": 1,
      "type": "canvas",
      "rect": [7, 75, 97, 169]
    },

    "homeBreadcrumbBg": {
      "type": "imageStretch",
      "zlevel": 3,
      "position": [108, 159],
      "size": [6, 9],
      "stretchSet": {
        "begin": "/interface/ai/breadcrumbbegin.png",
        "inner": "/interface/ai/breadcrumbinner.png",
        "end": "/interface/ai/breadcrumbend.png"
      }
    },
    "pageBreadcrumbBg": {
      "type": "imageStretch",
      "zlevel": 2,
      "position": [108, 159],
      "size": [6, 9],
      "stretchSet": {
        "begin": "/interface/ai/breadcrumbbegin.png",
        "inner": "/interface/ai/breadcrumbinner.png",
        "end": "/interface/ai/breadcrumbend.png",

        "visible": false
      }
    },
    "itemBreadcrumbBg": {
      "type": "imageStretch",
      "zlevel": 1,
      "position": [108, 159],
      "size": [6, 9],
      "stretchSet": {
        "begin": "/interface/ai/breadcrumbbegin.png",
        "inner": "/interface/ai/breadcrumbinner.png",
        "end": "/interface/ai/breadcrumbend.png",

        "visible": false
      }
    },

    "homeBreadcrumb": {
      "type": "label",
      "zlevel": 4,
      "position": [111, 158],
      "value": "HOME"
    },
    "pageBreadcrumb": {
      "type": "label",
      "zlevel": 4,
      "position": [110, 158],
      "value": "replaceme",
      "hAnchor": "left",

      "visible": false
    },
    "itemBreadcrumb": {
      "type": "label",
      "zlevel": 4,
      "position": [110, 158],
      "value": "replaceme",
      "hAnchor": "left",

      "visible": false
    },

    "shipStatusRect": {
      "zlevel": 3,
      "type": "layout",
      "layoutType": "basic",
      "rect": [110, 42, 238, 158],
      "children": {
        "shipStatusText": {
          "type": "label",
          "color": [174, 225, 238, 255],
          "hAnchor": "left",
          "vAnchor": "top",
          "position": [8, 113],
          "wrapWidth": 118,
          "lineSpacing": 1.0
        }
      }
    },

    "missionsRect": {
      "zlevel": 3,
      "type": "layout",
      "layoutType": "basic",
      "rect": [110, 42, 238, 158],
      "children": {
        "noMissionsText": {
          "type": "label",
          "color": [174, 225, 238, 255],
          "hAnchor": "left",
          "vAnchor": "top",
          "position": [8, 113],
          "wrapWidth": 118,
          "lineSpacing": 1.0
        },
        "scrollArea": {
          "type": "scrollArea",
          "rect": [0, 0, 128, 118],
          "children": {
            "missionItemList": {
              "type": "list",
              "schema": {
                "selectedBG": "/interface/ai/listitemscrollselected.png",
                "unselectedBG": "/interface/ai/listitemscroll.png",
                "spacing": [0, 1],
                "memberSize": [128, 21],
                "listTemplate": {
                  "background": {
                    "type": "image",
                    "file": "/interface/ai/listitemscroll.png",
                    "position": [0, -1],
                    "zlevel": -1
                  },
                  "itemName": {
                    "type": "label",
                    "position": [21, 10],
                    "hAnchor": "left",
                    "vAnchor": "mid",
                    "lineSpacing": 1.0,
                    "wrapWidth": 95
                  },
                  "itemIcon": {
                    "type": "image",
                    "position": [3, 3]
                  }
                }
              },

              "callback": "showMissionSelect"
            }
          },

          "visible": false
        },

        "missionSelectRect": {
          "zlevel": 3,
          "type": "layout",
          "layoutType": "basic",
          "rect": [0, 0, 128, 118],
          "children": {

            "background": {
              "type": "image",
              "position": [0, 95],
              "file": "/interface/ai/listitemselected.png"
            },
            "missionIcon": {
              "type": "image",
              "position": [3, 99]
            },
            "missionName": {
              "type": "label",
              "position": [21, 106],
              "hAnchor": "left",
              "vAnchor": "mid",
              "value": "mission name",
              "lineSpacing": 1.0,
              "wrapWidth": 100
            },
            "missionText": {
              "type": "label",
              "position": [2, 90],
              "vAnchor": "top",
              "hAnchor": "left",
              "value": "mission text",
              "wrapWidth": 124
            },
            "startMission": {
              "type": "button",
              "base": "/interface/ai/deployup.png",
              "hover": "/interface/ai/deployover.png",
              "pressed": "/interface/ai/deployover.png",
              "position": [0, 1],
              "pressedOffset": [0, 0],
              "caption": "",
              "callback": "deploy"
            },
            "startMissionTextThisIsMessy":{
              "mouseTransparent": true,
              "zlevel": 5,
              "type": "label",
              "position": [63, 6],
              "hAnchor": "mid",
              "value": "DEPLOY"
            },
            "startMissionProgress": {
              "mouseTransparent": true,
              "zlevel": 4,
              "type": "progress",
              "position": [0, 1],
              "size": [125, 18],
                "progressSet" : {
                "begin" : "/interface/ai/deployprogressbegin.png",
                "inner" : "/interface/ai/deployprogressinner.png",
                "type" : "repeat"
              },
              "direction" : "horizontal"
            },
            "startMissionProgressEnd" : {
              "zlevel": 5,
              "type": "image",
              "file": "/interface/ai/deployprogressend.png",
              "position" : [128, 1]
            }
          },

          "visible": false
        }
      },


      "visible": false
    },

    "CrewRect": {
      "zlevel": 3,
      "type": "layout",
      "layoutType": "basic",
      "rect": [110, 42, 238, 158],
      "children": {
        "noCrewText": {
          "type": "label",
          "color": [174, 225, 238, 255],
          "hAnchor": "left",
          "vAnchor": "top",
          "position": [8, 113],
          "wrapWidth": 118,
          "lineSpacing": 1.0
        },
        "scrollArea": {
          "type": "scrollArea",
          "rect": [0, 0, 128, 118],
          "children": {
            "crewItemList": {
              "type": "list",
              "schema": {
                "selectedBG": "/interface/ai/listitemscrollselected.png",
                "unselectedBG": "/interface/ai/listitemscroll.png",
                "spacing": [0, 1],
                "memberSize": [128, 21],
                "listTemplate": {
                  "background": {
                    "type": "image",
                    "file": "/interface/ai/listitemscroll.png",
                    "position": [0, -1],
                    "zlevel": -1
                  },
                  "itemName": {
                    "type": "label",
                    "position": [21, 10],
                    "hAnchor": "left",
                    "vAnchor": "mid",
                    "lineSpacing": 1.0,
                    "wrapWidth": 100
                  },
                  "itemIcon": {
                    "type": "canvas",
                    "position": [3, 3],
                    "rect": [3, 3, 17, 17],
                    "offset": [12, 4]
                  }
                }
              },

              "callback": "showCrewMember"
            }
          },

          "visible": false
        },

        "CrewRect": {
          "zlevel": 3,
          "type": "layout",
          "layoutType": "basic",
          "rect": [0, 0, 128, 118],
          "children": {
            "background": {
              "type": "image",
              "position": [0, 95],
              "file": "/interface/ai/listitemselected.png"
            },
            "recruitIcon": {
              "type": "canvas",
              "position": [0, 0],
              "rect": [3, 99, 38, 123],
              "offset": [12, 4]
            },
            "recruitName": {
              "type": "label",
              "position": [21, 106],
              "hAnchor": "left",
              "vAnchor": "mid",
              "value": "recruit name",
              "lineSpacing": 1.0,
              "wrapWidth": 100
            },
            "recruitText": {
              "type": "label",
              "position": [2, 88],
              "vAnchor": "top",
              "hAnchor": "left",
              "value": "recruit description",
              "wrapWidth": 124
            },
            "dismissRecruit": {
              "type": "button",
              "base": "/interface/ai/dismissup.png",
              "hover": "/interface/ai/dismissover.png",
              "pressed": "/interface/ai/dismissover.png",
              "baseImageChecked": "/interface/ai/dismissover.png",
              "position": [0, 1],
              "pressedOffset": [0, 0],
              "caption": "",

              "callback": "dismiss"
            },
            "dismissTextThisIsMessy":{
              "mouseTransparent": true,
              "zlevel": 5,
              "type": "label",
              "position": [63, 6],
              "hAnchor": "mid",
              "value": "DISMISS"
            },
            "dismissProgress": {
              "mouseTransparent": true,
              "zlevel": 4,
              "type": "progress",
              "position": [0, 1],
              "size": [125, 18],
                "progressSet" : {
                "begin" : "/interface/ai/dismissprogressbegin.png",
                "inner" : "/interface/ai/dismissprogressinner.png",
                "type" : "repeat"
              },
              "direction" : "horizontal"
            },
            "dismissProgressEnd" : {
              "zlevel": 5,
              "type": "image",
              "file": "/interface/ai/dismissprogressend.png",
              "position" : [128, 1]
            }
          },

          "visible": false
        }
      }
    },

    "configRect": {
      "zlevel": 3,
      "type": "layout",
      "layoutType": "basic",
      "rect": [110, 42, 238, 158],
      "children": {
        "fallbackText": {
          "type": "label",
          "value": "^gray;Use this if you can't find a mission or crewmember.",
          "hAnchor": "left",
          "vAnchor": "top",
          "position": [2, 97],
          "wrapWidth": 120,
          "lineSpacing": 1.0
        },
        "fallbackButton": {
          "type": "button",
          "checkable": true,
          "base": "/interface/ai/deployup.png",
          "hover": "/interface/ai/deployover.png",
          "pressed": "/interface/ai/deploydown.png",
          "baseImageChecked": "/interface/ai/deployover.png",
          "hoverImageChecked": "/interface/ai/deploydown.png",
          "pressedOffset": [0, 0],
          "position": [0, 98],
          "caption": "Fallback to vanilla S.A.I.L.",
          "callback": "fallbackButton"
        },

        "aiDataText": {
          "type": "label",
          "value": "^gray;You can install an A.I. chip here to customize S.A.I.L.",
          "hAnchor": "left",
          "vAnchor": "top",
          "position": [2, 58],
          "wrapWidth": 120,
          "lineSpacing": 1.0
        },
        "openAIChipSlotButton": {
          "type": "button",
          "checkable": true,
          "base": "/interface/ai/deployup.png",
          "hover": "/interface/ai/deployover.png",
          "pressed": "/interface/ai/deploydown.png",
          "baseImageChecked": "/interface/ai/deployover.png",
          "hoverImageChecked": "/interface/ai/deploydown.png",
          "pressedOffset": [0, 0],
          "position": [0, 59],
          "caption": "Open A.I. chip slot",
          "callback": "openAIChipSlot"
        },

        "aiDataItemSlot1" : {
          "type" : "itemslot",
          "position" : [28, 21],
          "backingImage" : "/interface/actionbar/actionbarcover.png",
          "callback" : "aiDataItemSlot",
          "rightClickCallback" : "null"
        },
        "aiDataItemSlot2" : {
          "type" : "itemslot",
          "position" : [56, 21],
          "backingImage" : "/interface/actionbar/actionbarcover.png",
          "callback" : "aiDataItemSlot",
          "rightClickCallback" : "null"
        },
        "aiDataItemSlot3" : {
          "type" : "itemslot",
          "position" : [84, 21],
          "backingImage" : "/interface/actionbar/actionbarcover.png",
          "callback" : "aiDataItemSlot",
          "rightClickCallback" : "null"
        },

        "chipSlotHatchLeftTest": {
          "type": "progress",
          "mouseTransparent": false,
          "zlevel": 4,
          "position": [28, 21],
          "size": [74, 18],
          "progressSet": {
            "inner": "/interface/ai/chiphatchinner.png",
            "type" : "repeat"
          },
          "direction" : "horizontal"
        },
        "openAIChipCraftButton": { 
          "type": "button",
          "base": "/interface/ai/deployup.png",
          "hover": "/interface/ai/deployover.png",
          "pressed": "/interface/ai/deploydown.png",
          "pressedOffset": [0, 0],
          "position": [0, 1],
          "caption": "Open A.I. chip crafting",
          "callback": "openAIChipCraft"

          //,"visible": false,
          //"disabled": true //i guess this is ded for now
        }
      },

      "visible": false
    }
  },

  "scriptWidgetCallbacks": [
    "close",
    "showMissions",
    "goBack",
    "showCrew",
    "deploy",
    "dismiss",
    "showCrewMember",
    "showMissionSelect",
    "showConfig",
    "fallbackButton",
    "aiDataItemSlot",
    "openAIChipSlot",
    "openAIChipCraft"
  ],

  "scripts": ["/interface/ai/aicustom.lua"],
  "scriptDelta": 1
}