{
  "gui" : {
    "windowtitle": {
      "type": "title",
      "title": "S.A.I.L.",
      "subtitle": "backpanel",
      "position": [0, 156],
      "icon": {
        "type": "image",
        "file": "/ai/AI.png",
        "position": [0, -15],
        "zlevel": -1
      }
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/ai/backpanelheader.png",
      "fileBody" : "/interface/ai/backpanel.png",
      "fileFooter" : "/interface/ai/backpanelfooter.png"
    },
    "itemSlot" : {
      "type" : "itemslot",
      "position" : [29, 50],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "rightClickCallback" : "null"
    },
    "resetButton" : {
      "type": "button",
      "checkable": true,
      "base": "/interface/ai/resetUp.png",
      "hover": "/interface/ai/resetOver.png",
      "pressed": "/interface/ai/resetOver.png",
      "baseImageChecked": "/interface/ai/resetOver.png",
      "pressedOffset": [0, 0],
      "position": [1, 13],
      "caption": "",
      "callback": "reset"
    },
    "resetButtonProgress": {
      "mouseTransparent": true,
      "zlevel": 4,
      "type": "progress",
      "position": [1, 13],
      "size": [69, 18],
        "progressSet" : {
        "begin" : "/interface/ai/dismissprogressbegin.png",
        "inner" : "/interface/ai/dismissprogressinner.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "resetButtonProgressEnd" : {
      "zlevel": 5,
      "type": "image",
      "file": "/interface/ai/dismissprogressend.png",
      "position" : [74, 1]
    },
    "resetButtonTextThisIsMessy":{
      "mouseTransparent": true,
      "zlevel": 5,
      "type": "label",
      "position": [38, 18],
      "hAnchor": "mid",
      "value": "RESET S.A.I.L."
    }
  },

  "scriptWidgetCallbacks": [
    "itemSlot",
    "reset",
    "close"
  ],

  "scripts": ["/interface/ai/backpanel.lua"],
  "scriptDelta": 1
}